#Source Insight 
*.VPJ
*.VPW
*.vpwhist
*.vtg
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PRI
*.PO
*.PR
*.PS
*.SearchResults
*.WK3
*.vtg
*.vpwhist
*.cproject

#C libary
*.o
#Melis




#Melis
RemoteSystemsTempFiles/
.metadata/
.settings/
*.script
*.face
/Release/
/Debug/
